.vscode/
####################################################
# Environment / Secrets (절대 커밋 금지)
####################################################
.env

####################################################
# Node.js / Express
####################################################
node_modules/

# Build tools cache
.cache/
.parcel-cache/
.eslintcache

####################################################
# React (CRA/Vite/Next 공통)
####################################################
dist/
build/
out/

깃사용/